*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.popup{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0, 0.5);
}

.popup-content{
    position: absolute;
    top: 25%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: white;
    transition: all 1s;
}

.hide{
    width: 100%;
}